@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #c45500;
}

hr {
  background-color: transparent;
  display: block;
  height: 1px;
  border-width: 0;
  border-top: 1px solid #e7e7e7;
  line-height: 19px;
  margin-top: 0;
  margin-bottom: 14px;
}
h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

button,input,select,textarea{
  font-family:inherit
}
h1,h2,h3,h4,h5,h6{
  padding:0;
  margin:0
}
h1,h2,h3,h4{
  padding-bottom:4px
}
h1,h2,h3,h4{
  text-rendering:optimizeLegibility
}
h1:last-child,h2:last-child,h3:last-child,h4:last-child{
  padding-bottom:0
}
h1.errorSpacingNone,h2.errorSpacingNone,h3.errorSpacingNone,h4.errorSpacingNone{
  padding-bottom:0
}
h1 .errorSizeBase,h1 .errorSizeMini,h1.errorSizeBase,h1.errorSizeMini,h2 .errorSizeBase,h2 .errorSizeMini,h2.errorSizeBase,h2.errorSizeMini,h3 .errorSizeBase,h3 .errorSizeMini,h3.errorSizeBase,h3.errorSizeMini,h4 .errorSizeBase,h4 .errorSizeMini,h4.errorSizeBase,h4.errorSizeMini{
  padding-bottom:0
}
h1,h2{
  padding-bottom:4px
}
h3,h4{
  padding-bottom:4px
}
.errorBox h4:last-child{
  padding-bottom:0
}
p{
  padding:0;
  margin:0 0 14px 0
}
p:last-child{
  margin-bottom:0
}
p+p{
  margin-top:-4px
}
i{
  font-style:italic
}
.errorTextNormal{
  font-weight:400!important;
  font-style:normal!important;
  text-transform:none!important;
  text-decoration:none!important
}
.errorTextBold{
  font-weight:700!important
}
body{
  font-size:14px;
  line-height:20px;
  font-family:Arial,sans-serif
}
h1{
  font-weight:400;
  font-size:28px;
  line-height:36px
}
h2{
  font-weight:700;
  font-size:24px;
  line-height:32px
}
h3{
  font-weight:700;
  font-size:18px;
  line-height:24px
}
h4{
  font-weight:700;
  font-size:18px;
  line-height:24px
}
h5{
  font-weight:700;
  font-size:14px;
  line-height:20px
}
h6{
  font-weight:700;
  text-transform:uppercase;
  font-size:12px;
  line-height:16px;
  padding-bottom:1px
}
*{
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box
}
body{
  min-height:100%
}
details,header,section{
  display:block
}
video{
  display:inline-block
}
html{
  font-size:100%;
  -webkit-text-size-adjust:100%
}a:focus{
  outline:thin dotted;
  outline:5px auto -webkit-focus-ring-color;
  outline-offset:-2px
}
a:active,a:hover{
  outline:0
}
button,input,select,textarea{
  margin:0;
  font-size:100%;
  vertical-align:middle
}
button,input{
  line-height:normal
}
button::-moz-focus-inner,input::-moz-focus-inner{
  padding:0;
  border:0
}
button,input[type=button],input[type=reset],input[type=submit]{
  cursor:pointer;
  -webkit-appearance:button
}
input[type=search]{
  -webkit-appearance:textfield
}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{
  -webkit-appearance:none
}
textarea{
  overflow:auto;
  vertical-align:top
}
body{
  padding:0;
  margin:0;
  background-color:#fff
}
body{
  color:#0f1111
}
hr{
  background-color:transparent;
  border-bottom-width:0;
  border-left-width:0;
  border-right-width:0;
  border-top:1px solid #bbbfbf;
  display:block;
  height:1px;
  line-height:19px;
  margin-bottom:14px;
  margin-top:0
}a,a:link,a:visited{
  text-decoration:none;
  color:#007185
}
a:link.errorColorBase,a:visited.errorColorBase{
  color:#0f1111
}
a:focus{
  text-decoration:none;
  outline:5px auto #008296
}
@-moz-document url-prefix(){
  a:focus{
      outline:thin dotted
  }
}
a:active{
  text-decoration:underline;
  color:#c7511f
}
a:active.errorColorBase{
  color:#008296
}
a:hover{
  text-decoration:underline;
  cursor:pointer;
  color:#c7511f
}
a:hover.errorColorBase{
  color:#c7511f!important
}
td,th{
  vertical-align:top
}
td:first-child,th:first-child{
  padding-left:0
}
td:last-child,th:last-child{
  padding-right:0
}
th{
  text-align:left
}
tr:last-child td,tr:last-child th{
  padding-bottom:0
}
tr:first-child td,tr:first-child th{
  padding-top:0
}
td,th{
  padding:3px
}

form{
    margin-bottom:14px
}
label{
    display:block;
    padding-left:2px;
    padding-bottom:2px;
    font-weight:700
}
input:not([type=hidden])+input{
  margin-left:.385em
}
label .errorSpacingNone{
  padding-bottom:0
}
input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],textarea{
  border:1px solid #888c8c;
  border-radius:4px;
  box-shadow:0 1px 2px rgba(15,17,17,.15) inset;
  outline:0
}
input[type=number]:focus,input[type=password]:focus,input[type=search]:focus,input[type=tel]:focus,input[type=text]:focus,textarea:focus{
  background-color:#f7feff;
  border-color:#007185;
  box-shadow:0 0 0 3px #c8f3fa,0 1px 2px rgba(15,17,17,.15) inset
}
.loading {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 4px;
  border: 3px solid rgb(255 255 255 / 30%);
  border-radius: 50%;
  border-top: 3px solid #fff;
  animation: spin 1s ease-in-out infinite;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}